.NewsImg {
    max-width: 40%;
    height: 40%;
}

.CardBoxShadow{
    box-shadow: 1px 1px 1px 0.2px;
    padding: 10px;
}

.CardBoxShadow a{
    color: black
}


.ContentPadding{
    padding: 30px 0;
}